html {
    font-size: 100% /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
}

body {
    font-size: 2.2em; /* That is your text's default font size. Here i chose 12px */
}
.mg{
    padding-top:40px;
}
.turn-1{
    background-color: #000000;
}
.turn-2{
    background-color: #0A0A0A;
    color: #FF0080;
    font-family: 'Chelsea Market';
}
.turn-3{
    background-color: #141414;
}
.turn-4{
    background-color: #1E1E1E;
    font-family: 'Maitree';
    color:white;
}
.turn-4{
    background-color: #1E1E1E;
    font-family: 'Maitree';
    color:white;
}
img.center {
    display: block;
    margin: 0 auto;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
