/**,
*:before,
*:after,
ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
image,
svg,
path,
g,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: 'Roboto';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  position: relative;
}

html,
body {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: 'Roboto';
}

.sw-loader__wrapper {
  position: relative;
}
.sw-loader__wrapper--center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sw-loader__wrapper .sw-loader__holder {
  width: 70%;
  height: 70%;
  margin-left: 15%;
  margin-top: 15%;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.sw-loader__wrapper .sw-loader__holder .rect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #141562, #486FBC, #EAB5A1, #8DD6FF, #4973C9, #D07CA7, #F4915E, #F5919E, #B46F89, #141562, #486FBC);
  background-position: 0% 50%;
  background-size: 1000% 1000%;
  overflow: hidden;
  -webkit-animation: moveGradient 15s infinite;
          animation: moveGradient 15s infinite;
}

@-webkit-keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}

#loader {
  margin-left: 40vw;
}


@media screen and (max-width: 991px){
  #loader {
    margin-left: 20vw;
  }
}*/
