
@font-face {
  font-family: 'Pixeled';
  src: url('Pixeled.eot?#iefix') format('embedded-opentype'),  url('Pixeled.woff') format('woff'), url('Pixeled.ttf')  format('truetype'), url('Pixeled.svg#Pixeled') format('svg');
  font-weight: normal;
  font-style: normal;
}
